@mixin close-btn-hover() {  
    background: rgb(125, 125, 125);
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 1px;
}
:host ::ng-deep {
    input {
        font-family: Courier;
        font-size: 12px;
        &::placeholder  {
            color: lightgray;
            font-weight: normal;
            font-style: italic;
        }
    }
    .close {
        border-radius: 50%;
        box-sizing: border-box;
        color: gray;
        cursor: pointer;
        font-size: 12px;
        float: left;
        font-family: sans-serif;
        margin-right: 8px;
        margin-top: 8px;
        max-width: 15px;
        padding: 1px 3px 0px 4px;
        width: 15px;
        &:hover {
            @include close-btn-hover();
        }
    }
    .suggestion-container {
        background: white;
        border: 1px solid lightgray;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-sizing: border-box;
        cursor: pointer;
        left: 0px;
        list-style-type: none;
        margin: 0px;
        min-height: 30px;
        max-height: 152px;
        overflow: auto;
        padding: 0px;
        position: absolute;
        top: 100%;
        z-index: 10;
        .suggestion-list {
            box-sizing: border-box;
            font-size: 14px;
            padding: 6px 5px;
            height: 30px;
            max-height: 30px;
            min-width: 100px;
            &:hover {
                background: lightgray;
            }
        }
    }
}
.filter-query-container {
    border: 1px solid lightgray;
    border-left: 3px solid red;
    box-sizing: border-box;
    min-height: 30px;
    padding: 2px 30px 2px 1px;
    position: relative;
    &.show-filter-btn {
        padding-right: 80px;
    }
    &.valid {
        border-left-color: green;
    }
    .query-list {
        height: 100%;
        position: relative;
    }
    .temp-input {
        border: 0px;
        box-sizing: border-box;
        float: left;
        font-size: 12px;
        height: 28px;
        opacity: 0;
        outline: none;
        padding-left: 5px;
        &.show {
            opacity: 1;
        }
    }
    .condition-container {
        float: left;
        line-height: 24px;
        margin-top: 2px;
        .condition-display {
            border: 1px solid black;
            border-radius: 50%;
            cursor: pointer;
            display: inline-block;
            margin: 0px 5px;
            padding: 0px 9px;
        }
    }
    .controls-container {
        display: inline-block;
        height: 32px;
        position: absolute;
        right: 0px;
        top: 0px;
        .close {
            @include close-btn-hover();
        }
        .filter-btn {
            background: #4f98fd;
            border: 0px;
            color: white;
            cursor: pointer;
            float: left;
            height: calc(100% + 2px);
            position: relative;
            top: -1px;
            width: 50px;
            &:focus {
                outline: 0px;
            }
            &.disabled {
                background: #b3d2fd;
                cursor: not-allowed;
            }
        }
    }
    .suggestion-container {
        left: initial;
        &.hide {
            display: none;
        }
    }
    .clearfix {
        clear: both;
    }
}